<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%thread]){magenta} %clr(%-5level) %clr(%logger{36}){cyan} - %msg %clr([%F:%M:%L]){faint}%n</pattern>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="info">
            <appender-ref ref="console" />
        </root>
    </springProfile>

    <springProfile name="stage,prod">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>./log/api/api_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                <maxHistory>90</maxHistory>
                <maxFileSize>30MB</maxFileSize>
                <totalSizeCap>1000MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%F:%M:%L]%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
    </springProfile>

</configuration>
